* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root {
  --white: #fff;
}

/* ************************** */
/* *********  nav bar  ****** */
/* ************************** */
.navigator {
  position: sticky;
  top: 0px;
  background-color: var(--white);
}
.main-nav {
  display: flex;
  /* position: sticky; */
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 2px 4px 0 #00000033;
}
.left-nav {
  display: flex;
  align-self: center;
}
.right-nav {
  display: flex;
  align-self: center;
  gap: 50px;
}
.logo-nav {
  max-width: 150px;
  margin-inline-start: 100px;
}
.home-a {
  color: #f63854;
  text-decoration: none;
}
.home-b {
  text-decoration: none;
  color: rgb(144, 139, 139);
  bottom: 0.3rem;
}

.home-b:hover {
  /* text-decoration: underline; */
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: 0.4s ease-in-out;
  color: #f63854;
}
.home-a:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
  color: #4e4a4b;
}

/* ********************************** end nav ************************************************* */

/* ************************** */
/* ********* hero section *** */
/* ************************** */
.hero-section {
  display: flex;
  justify-content: space-around;
  padding: 200px 0 80px;
  font-weight: 500;
  min-height: 650px;
  line-height: 40px;
  margin-left: 100px;
  background-image: url("./images/hero-area.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-tittle h2 {
  display: flex;
  justify-content: flex-start;
  font-family: "Arvo", serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-inline-start: 175px;
  padding: 0px 30px;
  line-height: 60px;
  color: #222222;
}

.hero-tittle p {
  font-weight: 400;
  font-family: "Arvo", serif;
  line-height: 30px;
  margin: 0px;
  margin-inline-start: 180px;
  padding: 0px 20px;
  color: rgb(191, 182, 182);
}

.buttons-container {
  display: flex;
  margin-inline-start: 180px;
  margin-top: 25px;
  gap: 20px;
  padding: 0px 20px;
}

.button {
  min-width: 100px;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  border-color: #f63854;
  cursor: pointer;
  transition: all 0.3s;
}
.download-button {
  background-color: #f63854;
  border-style: none;
  color: #fff;
  border: 1px solid;
}

.learn-button {
  background-color: #fff;
  color: #f63854;
  border: 1px solid;
}

.download-button:hover {
  background-color: #fff;
  color: #f63854;
  border: 1px solid;
}
.learn-button:hover {
  background-color: #f63854;
  border-style: none;
  color: #fff;
  border: 1px solid;
}

.intro-img-container {
  display: flex;
  width: -300px;
  margin-right: 50px;
  height: fit-content;
  margin-left: -100px;
}
.intro-img {
  width: 450px;
  padding: 20px;
  margin-inline-end: 200px;
}

/* *****************************end hero section *************************************** */

/* ************************** */
/* ********* start service section *** */
/* ************************** */

.services-section {
  text-align: center;
  padding: 60px 0;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.services-title {
  display: inline-block;
  font-size: 30px;
  font-family: "Arvo", serif;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #ff3b30;
  margin: 0 auto 50px;
}

.services-title:hover + .underline {
  opacity: 0; /* Hide the underline on hover */
  transition: 0.3s ease-in;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 35px;
  margin-top: 15px;
  margin-top: -30px;
  justify-content: center;
}
.service-card {
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 2px 18px 0px rgba(198, 198, 198, 0.3);
  transition: all 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0cap 8px 16px rgba(97, 94, 94, 0.2);
  background-color: #f8f2f1;
}

.service-icon {
  font-size: 3rem;
  color: #ff3b30;
  margin-bottom: 10px;
}

.service-title {
  font-size: 16px;
  color: #585b60;
  margin-bottom: 10px;
  font-family: "Arvo", serif;
}

.service-description {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 14px;
  color: #8a8a8a;
}
.service-icon img {
  width: 60px;
}
.service-card:hover .service-description {
  color: #383333;
}
/* ****************************** end services section************************************** */

/* ************************** */
/* ********* start mid section *** */
/* ************************** */

.mid-section {
  display: flex;
  justify-content: space-around;
  padding: 130px 0 80px;
  font-weight: 500;
  min-height: 650px;
  line-height: 40px;
  background-color: #f9f9f9;
}

.mid-tittle h3 {
  display: flex;
  justify-content: flex-start;
  font-family: "Arvo", serif;
  font-size: 30px;
  font-weight: 700;
  margin-inline-start: 260px;
  padding: 0px 117px;
  line-height: 40px;
  color: #222222;
}

.mid-tittle p {
  font-weight: 400;
  font-family: "Arvo", serif;
  line-height: 30px;
  margin: 25px;
  margin-inline-start: 308px;
  margin-bottom: 30px;
  padding: 0px 70px;
  color: rgb(191, 182, 182);
}

.mid-buttons-container {
  display: flex;
  margin-left: 350px;
  margin-top: 10px;
  gap: 20px;
  padding: 0px 20px;
}

.button {
  min-width: 100px;
  margin-top: 0px;
  padding: 15px 30px;
  border-radius: 30px;
  border-color: #f63854;
  cursor: pointer;
  transition: all 0.3s;
}
.read-button {
  background-color: #f63854;
  border-style: none;
  color: #fff;
  border: 1px solid;
}

.read-button:hover {
  background-color: #fff;
  color: #f63854;
  border: 1px solid;
}

.intro-img-container {
  display: flex;
  width: -300px;
  margin-right: 50px;
  height: fit-content;
  margin-left: -100px;
}
.mid-img {
  width: 480px;
  margin-inline-end: 400px;
}

/* ****************************** end mid section************************************** */

/* ************************** */
/* ********* start features section *** */
/* ************************** */
.feats-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 35px;
  justify-content: center;
}
.feat-section {
  text-align: center;
  padding: 60px 0;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}
.h-title {
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
  font-family: "Arvo", serif;
}

.card-a {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  padding: 30px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(203, 204, 204);
  transition: 0.3s ease-in-out;
}
.feat-img {
  padding-top: 0px;
}
.content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: right;
}
.content p {
  color: #cfcbcb;
}
.content h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Arvo", serif;
}
.card-a:hover {
  box-shadow: 0px 0px 16px 12px #9c9a9a33;
}
.card-a:hover h4 {
  color: #f63854;
}

.intro-feat-container {
  margin-top: 0px;
}

.intro-feat-img {
  width: 100%;
  height: 400px;
  margin-top: 80px;
}

.card-b {
  display: flex;
  gap: 20px;
  padding: 30px;
  margin-top: 30px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(203, 204, 204);
  transition: 0.3s ease-in-out;
}
.right-img {
  padding-top: 0px;
}
.right-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: left;
}
.right-content p {
  color: #cfcbcb;
}
.right-content h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Arvo", serif;
}
.card-b:hover {
  box-shadow: 0px 0px 16px 12px #9c9a9a33;
}
.card-b:hover h4 {
  color: #f63854;
}

.h-title:hover + .underline {
  opacity: 0; /* Hide the underline on hover */
  transition: 0.3s ease-in;
}

/* ****************************** end features section ************************************** */

/* ************************** */
/* ********* start team section *** */
/* ************************** */
.team-title {
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
  font-family: "Arvo", serif;
}
.team-title:hover + .underline {
  opacity: 0; /* Hide the underline on hover */
  transition: 0.3s ease-in;
}

.team-section {
  display: flex;
  justify-content: space-around;
  padding: 130px 0 80px;
  font-weight: 500;
  min-height: 650px;
  line-height: 40px;
  background-color: #f9f9f9;
}

.team-container {
  /* text-align: center; */
  padding: 60px 0;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.team-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  justify-content: center;
}

.team-card {
  display: flex;
  gap: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(203, 204, 204);
  transition: 0.3s ease-in-out;
}
.team-img {
  width: 190px;
  height: 100%;
}
.team-content {
  padding: 12px;
}
.team-content h3,
.team-content p {
  color: #cfcbcb;
  text-align: left;
}

.team-content p {
  line-height: 1.5;
}
.team-content h1 {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Arvo", serif;
  text-transform: uppercase;
}

.desc-content {
  display: flex;
  gap: 30px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.icon-s {
  width: 30px;
  margin-top: 17px;
  cursor: pointer;
}

.team-card:hover {
  box-shadow: 0px 0px 16px 12px #9c9a9a33;
}

.team-card:hover h1 {
  color: #f63854;
}

.team-card:hover .team-content p {
  color: #8f9296;
}

/* ****************************** end team section ***************************************/

/* ************************** */
/* ********* start contant section *** */
/* ************************** */

.contact-tittle {
  text-align: center;
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
  font-family: "Arvo", serif;
}
.section-tittle:hover .underline {
  opacity: 0; /* Hide the underline on hover */
  transition: 0.3s ease-in;
}

.contact-container {
  /* text-align: center; */
  padding: 60px 0;
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

/* Contact Us Section */
.contact-section {
  padding: 50px 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.section-title {
  font-family: "Arvo", serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: -60px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px none #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}

.submit-btn {
  background-color: #f63854;
  border-style: none;
  color: #fff;
  border: 1px none;
}
.submit-btn-container {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}
.submit-btn:hover {
  background-color: #fff;
  cursor: pointer;
  color: #f63854;
  border: 1px solid;
}
.map-container {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  margin: 20px;
}

.underline {
  margin-top: -10px;
}

.inp:focus {
  outline: none;
  border: 1px solid #f63854;
  /* box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5); */
}

.error-message {
  color: rgb(254, 254, 254);
  font-size: 12px;
}

.inp:invalid .error-message {
  color: rgb(218, 0, 0);
  font-size: 12px;
  display: block;
}
